.products-footer{
    margin-bottom: 10px;
   .sale-products{
    max-width: 1200px;
    margin: 0 auto;
    ul{
        display: flex;
        flex-wrap: wrap;
        column-gap: 35px;
        li{
            list-style-type: none;
            .product{
            width: 250px;
            display: flex;
            img{
                width: 100px;
                height: 120px;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            .text{
                margin: 20px 10px;
                p{
                    color: #222222;
                    font-family: 'Poppins', sans-serif;
                }
                .price{
                    color: #d26e4b;
                }
                .rating{
                    display: flex;
                }
            }
            }
        }
    }
   }
}