.dropDown{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    height: 40px;
    padding-top: 10px;
   a{
    text-decoration: none;
    color: black;
   }
    .text{
        span{
            padding: 0 10px;
            margin: 0 5px;
        }
    }
}
.categories{
        display: flex;
    }
.products{
        display: flex;
    }

