.carusel{
  position: relative;
  .carusel_text{
    position: absolute;
    top: 30%;
    left: 10%;
    .text_buy_free{
      display: flex;
      p, span{
       font-family: 'Caveat', cursive;
       font-size: 1.875em;
      }
    }
  }
}
.carusel_2{
  position: relative;
  .carusel_text_2{
    position: absolute;
    top: 30%;
    right: 5%;
  }
}